<div class="flex column w-100vw h-100vh">
  <tb-toolbar>
    <tb-icon-button
      color="white"
      [icon]="open ? 'menu_open' : 'menu'"
      (click)="open = !open"
    ></tb-icon-button>
    <div class="grow-1"></div>
    <img
      src="/assets/icons/icon-72x72.png"
      alt="logo"
      style="width: 30px; height: 30px"
    />
  </tb-toolbar>

  <div
    class="flex column gap-1em pt-1em pb-1em"
    style="max-width: 200px"
    *ngIf="open"
  >
    <tb-nav-list>
      <tb-nav-list-item
        label="Product"
        icon="inventory"
        [route]="['product']"
      ></tb-nav-list-item>

      <tb-nav-list-item
        label="Price"
        icon="attach_money"
        [route]="['price']"
      ></tb-nav-list-item>
      <tb-nav-list-item
        label="Quantity"
        icon="123"
        [route]="['quantity']"
      ></tb-nav-list-item>
    </tb-nav-list>

    <tb-nav-list>
      <tb-nav-list-item label="Category" icon="category"></tb-nav-list-item>
      <tb-nav-list-item label="Department" icon="category"></tb-nav-list-item>
    </tb-nav-list>
  </div>

  <ng-content></ng-content>
</div>
