<div class="flex column">
  <div class="tb-toolbar primary">
      <div class="tb-flat-icon-button icon white" [routerLink]="['']" routerLinkActive="router-link-active"> table
      </div>
      <div class="tb-flat-icon-button icon white" [routerLink]="['create']" routerLinkActive="router-link-active"> add
      </div>
      <div class="tb-flat-icon-button icon white" [routerLink]="['update']" routerLinkActive="router-link-active">
          edit </div>
  </div>
</div>
<router-outlet></router-outlet>
