<link rel="stylesheet" href="/libs/material/src/style.css">
<div class="tb-toolbar white">

    <button class="basic-btn  primary">Basic button</button>
    <button class="basic-btn  primary">Basic button</button>
    <button class="basic-btn  secondary">Basic button</button>
    <button class="basic-btn  accent">Basic button</button>
    <button class="basic-btn  accent">Basic button</button>
</div>

<div class="flex column gap-3 pt-100px pl-50px pr-50px">

    <form class="flex column gap-10">


        <div class="tb-form-field-container primary">
            <div class="tb-form-field-label">Label</div>
            <div class="tb-form-field icon-position-right ">
                <input type="text" class="tb-form-field-input" placeholder="Username">
                <div class="tb-form-field-icon icon">Person</div>
            </div>
        </div>

        <div class="tb-form-field-container primary">
            <div class="tb-form-field-label">Label</div>
            <div class="tb-form-field icon-position-right">
                <input #input type="password" class="tb-form-field-input" placeholder="Password">
                <div class="tb-form-field-icon icon">emergency</div>
            </div>
        </div>
    </form>
</div>

<router-outlet></router-outlet>