@use '../colors' as colors;

.toolbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4em;
  height:5em;
  font-size: 0.8em;
  padding-left: 3em;
  padding-right: 3em;
}

@each $colorName in colors.$colorNames {
  .#{$colorName}.toolbar {
    background-color: var(--#{$colorName});
  }
}
