* {
  box-sizing: border-box !important;
  // scroll-behavior: smooth; /* Smooth scrolling */
  scroll-behavior: smooth;
  scroll-snap-type: none;
}

html,
body {
  position: relative;
  padding: 0px;
  margin: 0px;
  font-family: var(--font-content);
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: var(--font-title);
    vertical-align: middle;
  }
}

@each $tag in (p, span) {
  #{$tag},
  #{$tag} * {
    font-family: var(--font-content);
    vertical-align: middle;
  }
}
