<h1>Buttons</h1>

<div class="flex column">
  <div class="profile">
    <img class="avatar" src="/assets/icons/icon-512x512.png" alt="Profile picture" />
    <div class="profile-content">
      <div class="profile-title">Ahmet Emrebas</div>
      <div class="profile-subtitle">Fullstack Engineer</div>
    </div>
  </div>
</div>

<div class="flex column">
  <h1>Alerts</h1>

  <div class="alert primary">
    <div class="icon">Home</div>
    <span>Alert message </span>
    <div class="grow-1"></div>
    <div class="icon">close</div>
  </div>
  <div class="alert secondary">secondary</div>
  <div class="alert accent">accent</div>
  <div class="alert warn">warn</div>
  <div class="alert red">red</div>
  <div class="alert green">green</div>
  <div class="alert black">black</div>
  <div class="alert white">white</div>
</div>

<div class="flex column gap-3">
  <div class="flex row gap-10 wrap">
    <button class="tb-flat-button primary">flat</button>
    <button class="tb-flat-button secondary">flat</button>
    <button class="tb-flat-button accent">flat</button>
    <button class="tb-flat-button warn">flat</button>
    <button class="tb-flat-button red">flat</button>
    <button class="tb-flat-button green">flat</button>
    <button class="tb-flat-button black">flat</button>
    <button class="tb-flat-button white">flat</button>

    <button class="tb-raised-button primary w-100">raised</button>
    <button class="tb-raised-button secondary">raised</button>
    <button class="tb-raised-button accent">raised</button>
    <button class="tb-raised-button warn">raised</button>
    <button class="tb-raised-button red">raised</button>
    <button class="tb-raised-button green">raised</button>
    <button class="tb-raised-button black">raised</button>
    <button class="tb-raised-button white">raised</button>

    <button class="tb-text-button primary">text</button>
    <button class="tb-text-button secondary">text</button>
    <button class="tb-text-button accent">text</button>
    <button class="tb-text-button warn">text</button>
    <button class="tb-text-button red">text</button>
    <button class="tb-text-button green">text</button>
    <button class="tb-text-button black">text</button>
    <button class="tb-text-button white">text</button>

    <button class="tb-icon-button icon primary">home</button>
    <button class="tb-icon-button icon secondary">home</button>
    <button class="tb-icon-button icon accent">home</button>
    <button class="tb-icon-button icon warn">home</button>
    <button class="tb-icon-button icon red">home</button>
    <button class="tb-icon-button icon green">home</button>
    <button class="tb-icon-button icon black">home</button>
    <button class="tb-icon-button icon white">home</button>

    <button class="tb-icon-button fill icon primary">home</button>
    <button class="tb-icon-button fill icon secondary">home</button>
    <button class="tb-icon-button fill icon accent">home</button>
    <button class="tb-icon-button fill icon warn">home</button>
    <button class="tb-icon-button fill icon red">home</button>
    <button class="tb-icon-button fill icon green">home</button>
    <button class="tb-icon-button fill icon black">home</button>
    <button class="tb-icon-button fill icon white">home</button>
  </div>

  <div class="flex row gap-10 wrap">
    <div class="list">
      <button class="nav-list-item primary" fucusable>
        <div class="icon">home</div>
        <span>List Item</span>
      </button>
      <div class="list-item secondary">
        <span>List Item</span>
        <div class="icon">home</div>
      </div>
      <div class="list-item accent">
        <span>List Item</span>
      </div>
      <div class="list-item warn">
        <span>List Item</span>
        <div class="icon">home</div>
      </div>
      <div class="list-item black">
        <span>List Item</span>
        <div class="icon">home</div>
      </div>
      <div class="list-item white">
        <span>Very long list text. Check the behaviour</span>
        <div class="icon">home</div>
      </div>
    </div>
  </div>
</div>
